@import '../app.component.scss';
.expo { 
    position: absolute;
    top: 0;
    left: 20%;
    @include flex(column, space-evenly, center);
    width: 60%;
    height: 100%;
    z-index: 1;

    h2 {
        padding: 1vh;
        border: solid 2.5px $color2;
    }
    .expo-element {
        @include flex(column, space-evenly, center);
        width: 100%;
        height: 60vh;
        padding: 1vw;
        // background-color: rgba(240,240,240,0.7);
        background-color: $color1;
        border: 3px solid $color6;
        color: $color6;


        .expo-description {
            width: 60%;
            text-align: justify;
            text-indent: 3rem;
        }
        .expo-image {
            width: 80%;
            height: auto;
        }

        &:hover {
            cursor: pointer;
            transform: scale(1.02);
            transition: transform 0.3s ease-in;
            border-color: $color5;
            
            h2 {
                background-color: $color2;
                transition: background-color 0.3s ease-in;
            }
        }
    }
}

