<section class="contact-mobile">
    
    <div class="contact-images">
        <img class="box-img" src="assets/Icons/clock.png"/>
        <img class="box-img" src="assets/Icons/home.png"/>
        <img class="box-img" src="assets/Icons/gmail.png"/>
        <img class="box-img" src="assets/Icons/mobile.png"/>
      </div>

      <div class="contact-desc">
          <h3>Date of birth: </h3>
          <h3>Location: </h3>
          <h3>Email address: </h3>
          <h3>Mobile phone number</h3>
      </div>

      <div class="contact-values">
          <h3>16.03.1997</h3>
          <h3>Kraków</h3>
          <h3>mateuszlata2@gmail.com</h3>
          <h3>+48 666 383 454</h3>
      </div>

</section>