<section class="contact-section">
    <div class="container-4">
        <h1 class="header">Contact</h1>
  
        <div class="half-c"></div>
  
        <div class="contact-images">
          <img class="box-img" src="assets/Icons/clock.png"/>
          <img class="box-img" src="assets/Icons/home.png"/>
          <img class="box-img" src="assets/Icons/gmail.png"/>
          <img class="box-img" src="assets/Icons/mobile.png"/>
        </div>
  
        <div class="contact-description">
          <div class="align-left">
            <h3>Date of birth: </h3>
            <h3>Location: </h3>
            <h3>Email address: </h3>
            <h3>Mobile phone number</h3>
          </div>
        </div>
  
        <div class="contact-values">
            <div class="align-left">
            <h2>16.03.1997</h2>
            <h2>Kraków</h2>
            <h2>mateuszlata2@gmail.com</h2>
            <h2>+48 666 383 454</h2>
          </div>
        </div>
    </div>
  </section>