<section class="info">
    <div class="container-2">
  
      <div class="triangle-2"></div>
  
      <img class="img2" src="assets/Mateusz/mat.png"/>
  
      <h1 class="header">Info</h1>
  
      <div class="container-info">
        <!-- //Education -->
        <div class="education">
          <div class="edu">
            <img class="hat" src="assets/Icons/university.png"/>
            <h1>Education</h1>
          </div>
  
          <div class="edu-description">
            <h2>10.2016 - 02.2020</h2>
            <h3>Mechatronic Engineering</h3>
            <p>( with English as Instruction language )</p>
            <h3>BSc Thesis Subject:</h3>
            <p>Development of an application supporting fast reading</p>
            <h2>02.2020 - 06.2020</h2>
            <h3>Computer Science</h3>
          </div>
        </div>
  
        <!-- //Languages -->
        <div class="languages">
          <div class="lan">
            <img class="globe" src="assets/Icons/languages.png"/>
            <h1>Languages</h1>
          </div>
  
          <ul class="lan-description">
            <li>polish</li>
            <li>english</li>
          </ul>
        </div>
  
        <!-- //Tech Stack -->
        <div class="tech-stack">
          <div class="tech">
            <img class="img_stack" src="assets/Icons/stack.png"/>
            <h1>Tech Stack</h1>
          </div>
  
          <div class="tech-images">
            <img src="assets/Icons/tech/html.png" alt="">
            <img src="assets/Icons/tech/css.png" alt="">
            <img src="assets/Icons/tech/js.png" alt="">
            <img src="assets/Icons/tech/sass.png" alt="">
            <img src="assets/Icons/tech/angular.png" alt="">
            <img src="assets/Icons/tech/gimp.png" alt="">
            <img src="assets/Icons/tech/inkscape.png" alt="">
            <img src="assets/Icons/tech/java.png" alt="">
            <img src="assets/Icons/tech/sql.png" alt="">
          </div>
        </div>
    </div>
  
      <!-- //Brief History -->
      <div class="history">
        <p>
          <span class="A">A</span>s a student of 3rd year of Mechatronic Engineering at AGH University
          I decided to focuse on Web Development. That was the thing I liked the
          most during my studies and I took an personal decision to develop myself
          in this direction. Since February I have become a student of Computer 
          Science at AGH University. I am trying to use my innate curiosity to do
          what motivates me the most - acquaring knowledge and widening my personal
          horizons.
        </p>
      </div>
    </div>
  </section>
  