<nav (scroll)="onScollChangeNav()">
    <ul class="nav-bar">
      <li (click)="scrollToPosition(target1)">home</li>
      <li (click)="scrollToPosition(target2)">info</li>
      <li (click)="scrollToPosition(target3)">portfolio</li>
      <li (click)="scrollToPosition(target4)">contact</li>
    </ul>
    
    <div (click)="showNavOptions()"class="burger">
      <div></div>
      <div></div>
      <div></div>
    </div>

    <div class="nav-bar-active-container">
      <ul class="nav-bar-active">
        <li (click)="scrollToPosition(target1)">home</li>
        <li (click)="scrollToPosition(target2)">info</li>
        <li (click)="scrollToPosition(target3)">portfolio</li>
        <li (click)="scrollToPosition(target4)">contact</li>
      </ul>
    </div>

</nav>

<div #target1></div>
<app-home></app-home>
<div #target2></div>
<app-info></app-info>
<div #target3></div>
<app-portfolio></app-portfolio>
<div #target4></div>
<app-contact></app-contact>
<footer>
    <p>2020 MATEUSZ ŁATA. ALL RIGHTS RESERVED.</p>
</footer>
