<section class="info-mobile-page">

    <div class="container-info">
        <!-- //Education -->
        <div class="element">
          <div class="info-element-header">
            <img class="hat" src="assets/Icons/university.png"/>
            <h1>Education</h1>
          </div>
            <div class="info-element-description">
                <h2>10.2016 - 02.2020</h2>
                <h3>Mechatronic Engineering</h3>
                <p>( with English as Instruction language )</p>
                <h3>BSc Thesis Subject:</h3>
                <p>Development of an application supporting fast reading</p>
                <h2>02.2020 - 06.2020</h2>
                <h3>Computer Science</h3>
            </div>
        </div>
  
        <!-- //Languages -->
        <div class="element">
          <div class="info-element-header">
            <img class="globe" src="assets/Icons/languages_black.png"/>
            <h1>Languages</h1>
          </div>
  
          <div class="info-element-description">
            <h1>Polish</h1>
            <h1>English</h1>
          </div>
        </div>
  
        <!-- //Tech Stack -->
        <div class="element">
          <div class="info-element-header">
            <img class="img_stack" src="assets/Icons/stack_black.png"/>
            <h1>Tech Stack</h1>
          </div>
  
          <div class="info-element-images">
            <img src="assets/Icons/tech/html.png" alt="">
            <img src="assets/Icons/tech/css.png" alt="">
            <img src="assets/Icons/tech/js.png" alt="">
            <img src="assets/Icons/tech/sass.png" alt="">
            <img src="assets/Icons/tech/angular.png" alt="">
            <img src="assets/Icons/tech/gimp.png" alt="">
            <img src="assets/Icons/tech/inkscape.png" alt="">
            <img src="assets/Icons/tech/java.png" alt="">
            <img src="assets/Icons/tech/sql.png" alt="">
          </div>
        </div>
    </div>

</section>