<section class="home">
    <div class="container">
      <!-- image chair -->
      <div class="triangle"></div>
    
      <img class="babyface" src="assets/Mateusz/fotel-mat.png"/>
  
      <div class="general-info-aling-center">
        <div class="general-info-align-left">
          <p class="name">mateusz lata</p>
          <p class="profession">junior web developer</p>
          <div class="contact-frame">
            <button class="contact">contact me</button>
          </div>
          
        </div>
      </div>
    </div>
  </section>
